* {
    box-sizing: border-box;
  }
  
 
  .bg-dark {
    background-color: #1b2836; /* Darker shade */
  }
  .bg-light-dark {
    background-color: #2e3c4d; /* Slightly different shade */
  }
  .bg-green {
    background-color: #4a9a7f; /* Modified green */
  }
  .bg-yellow {
    background-color: #ff6a00; /* Slightly brighter yellow */
  }
  .color-white {
    color: #f1f5f9;
  }
  .bg-white {
    background-color: #f7f9fc;
  }
  
  .mb-2 {
    margin-bottom: 1.5rem; /* Reduced margin */
  }
  .mr-1 {
    margin-right: 0.8rem;
  }
  

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  header div {
    padding: 0.8rem 2rem;
  }
  header img {
    height: 50px; /* Increased height for better visibility */
  }
  header span {
    margin-right: 1.2rem;
    font-weight: 400;
  }
  
  .text-center {
    text-align: center;
  }
  .w-100 {
    width: 100%;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px; /* Space for fixed header */
  }
  main {
    background-color: #f1f5f9;
    padding: 2.5rem;
  }
  

  .row {
    width: 100%;
    text-align: center;
  }
  .img {
    width: 290px;
    height: 360px;
    object-fit: cover;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 7px 5px 12px rgba(34, 60, 80, 0.15);
  }
  .title-container {
    text-align: left;
    padding: 1rem 1rem 0 1.5rem;
  }
  .title {
    font-size: 1.4rem;
  }
  .subtitle {
    font-weight: 600;
    color: #006b8d;
    margin-left: 1rem;
  }
  
  #img-fw {
    width: 100%;
  }
  .img_container {
    text-align: center;
    margin-top: 1.5rem;
  }
  

  footer {
    width: 100%;
    text-align: center;
  }
  #back-to-top {
    padding: 0.8rem;
  }
  #back-to-top a {
    font-weight: 600;
  }
  #footer-logo {
    padding: 3rem;
  }
  #footer-logo img {
    height: 55px;
  }
  
 
  #bg-image {
    background-image: url("./assets/bg-image.png");
    width: 100%;
    height: 90px;
    background-size: cover;
    background-position: center;
  }
  

  .cards-row {
    width: 100%;
    margin-top: 2rem;
    padding: 18px;
  }
  .card-squad {
    width: 23%; /* Slightly reduced */
    display: inline-block;
    margin: 0.5rem;
  }
  .card-header {
    font-size: 20px;
    font-weight: 600;
    padding: 0 1.8rem;
  }
  .quadrant-container {
    width: 48%;
    display: inline-block;
    position: relative;
  }
  
  .quadrant-container img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .quadrant-container p {
    margin: 0;
    font-size: 12px;
  }
  .card-body {
    padding: 0 1.8rem;
  }
  
  .card-row {
    width: 100%;
    margin-bottom: 1rem;
  }
  .card-footer {
    font-size: 13px;
    padding: 0.5rem 1.8rem;
    color: #006b8d;
  }
  

  .quadrant-container img.bottom-right-corner {
    position: absolute;
    right: -8px;
    bottom: 0;
    width: 35px;
    height: 35px;
  }
  
  